body {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", Arial, sans-serif;
    height: 100%;
    margin:0;
    padding:0;
    width: 100%;




}
ul {
  list-style-type: none;
 }
h1 {}

h5 {

    text-align: center;
    padding: 0px;
    margin: 0px;
}

h5 {

    text-align: center;
    padding: 0px;
    margin: 0px;
}

h6 {

    text-align: center;
    padding: 0px;
    margin: 0px;
}


div {
    padding-left: 3px;
    padding-right: 3px;
}












#AboutMe {
    
    margin: auto;
    margin-top: 120px;
    margin-bottom: 120px;
    width: 60%; 



    font-size: 1.2em;






}


#FootSection {
    color: white;
    background-color: black;
    margin: auto;
    width: 100%;

}